.bfr {
  padding: 0 12px;
}

.bfr::before {
  width: 1px;
  height: 190px;
  position: absolute;
  left: 15px;
  top: 70px;
  background: #2a2a2a; 
  color: #5f6871; 
  line-height: 29px; 
  box-sizing: border-box;
  /* padding: 0px 12px; */
  content: '';
}

.bgicon::before{
  content: url(../../../assets/Images/rightarrow.svg);
  box-sizing: border-box;
  position: absolute;
  left: 3.1rem;
}

.lipad{
  padding: 16px 45px 16px 22.5px; 
  background-color: #fff;
  /* margin: 2px 0; */
  color: #151414;
  font-size: 14.5px;
  font-weight: 600;
  text-align: start;
}

.lipad:hover{
  background-color: #26901B;
  color: #fff;
}
